{
  "openapi": "3.0.1",
  "info": {
    "title": "Automation Actions V4",
    "version": "v4",
    "x-hubspot-product-tier-requirements": {
      "marketing": "PROFESSIONAL",
      "sales": "PROFESSIONAL",
      "service": "PROFESSIONAL",
      "cms": "FREE",
      "commerce": "FREE",
      "crmHub": "FREE",
      "dataHub": "FREE"
    },
    "x-hubspot-api-use-case": "You want to empower other users in your account to automate specialized parts of their day-to-day processes (e.g., creating highly customized quotes based on the data from an enrolled contact and their associations).",
    "x-hubspot-related-documentation": [
      {
        "name": "Custom Workflow Actions Guide",
        "url": "https://developers.hubspot.com/docs/guides/api/automation/custom-workflow-actions"
      }
    ],
    "x-hubspot-introduction": "Use the automation API to define custom actions in the HubSpot workflows tool, which allows users in your account to integrate with external services as they build out a HubSpot workflow.",
    "x-moar-merged": true,
    "x-moar-merged-count": 3
  },
  "servers": [
    {
      "url": "https://api.hubapi.com"
    }
  ],
  "tags": [
    {
      "name": "Definitions"
    },
    {
      "name": "Functions"
    },
    {
      "name": "Revisions"
    },
    {
      "name": "Callbacks"
    },
    {
      "name": "Workflows"
    },
    {
      "name": "Workflow ID mappings"
    },
    {
      "name": "Email campaigns"
    },
    {
      "name": "Public_Sequences"
    },
    {
      "name": "Public_Enrollments"
    }
  ],
  "paths": {
    "/automation/v4/actions/{appId}": {
      "get": {
        "tags": [
          "Definitions"
        ],
        "summary": "Retrieve custom action definitions",
        "description": "Retrieve custom workflow action definitions by app ID.",
        "operationId": "get-/automation/v4/actions/{appId}_getPage",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to display per page.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "archived",
            "in": "query",
            "description": "Whether to return only results that have been archived.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "appId",
            "in": "path",
            "description": "The ID of the app.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "paging": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "required": [
                            "after"
                          ],
                          "type": "object",
                          "properties": {
                            "link": {
                              "type": "string",
                              "description": "A URL that can be used to retrieve the next page results.",
                              "example": ""
                            },
                            "after": {
                              "type": "string",
                              "description": "A paging cursor token for retrieving subsequent pages.",
                              "example": ""
                            }
                          },
                          "description": "Specifies the paging information needed to retrieve the next set of results in a paginated API response"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "required": [
                          "actionUrl",
                          "functions",
                          "id",
                          "inputFields",
                          "labels",
                          "objectTypes",
                          "published",
                          "revisionId"
                        ],
                        "type": "object",
                        "properties": {
                          "functions": {
                            "type": "array",
                            "items": {
                              "required": [
                                "functionType"
                              ],
                              "type": "object",
                              "properties": {
                                "functionType": {
                                  "type": "string",
                                  "enum": [
                                    "PRE_ACTION_EXECUTION",
                                    "PRE_FETCH_OPTIONS",
                                    "POST_FETCH_OPTIONS",
                                    "POST_ACTION_EXECUTION"
                                  ]
                                },
                                "id": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "actionUrl": {
                            "type": "string"
                          },
                          "published": {
                            "type": "boolean"
                          },
                          "labels": {
                            "type": "object",
                            "additionalProperties": {
                              "required": [
                                "actionName"
                              ],
                              "type": "object",
                              "properties": {
                                "inputFieldDescriptions": {
                                  "type": "object",
                                  "additionalProperties": {
                                    "type": "string"
                                  }
                                },
                                "appDisplayName": {
                                  "type": "string"
                                },
                                "outputFieldLabels": {
                                  "type": "object",
                                  "additionalProperties": {
                                    "type": "string"
                                  }
                                },
                                "inputFieldOptionLabels": {
                                  "type": "object",
                                  "additionalProperties": {
                                    "type": "object",
                                    "additionalProperties": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "actionDescription": {
                                  "type": "string"
                                },
                                "executionRules": {
                                  "type": "object",
                                  "additionalProperties": {
                                    "type": "string"
                                  }
                                },
                                "inputFieldLabels": {
                                  "type": "object",
                                  "additionalProperties": {
                                    "type": "string"
                                  }
                                },
                                "actionName": {
                                  "type": "string"
                                },
                                "actionCardContent": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "inputFields": {
                            "type": "array",
                            "items": {
                              "required": [
                                "isRequired",
                                "typeDefinition"
                              ],
                              "type": "object",
                              "properties": {
                                "isRequired": {
                                  "type": "boolean"
                                },
                                "automationFieldType": {
                                  "type": "string"
                                },
                                "typeDefinition": {
                                  "required": [
                                    "externalOptions",
                                    "name",
                                    "options",
                                    "type"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "helpText": {
                                      "type": "string"
                                    },
                                    "referencedObjectType": {
                                      "type": "string",
                                      "enum": [
                                        "CONTACT",
                                        "COMPANY",
                                        "DEAL",
                                        "ENGAGEMENT",
                                        "TICKET",
                                        "OWNER",
                                        "PRODUCT",
                                        "LINE_ITEM",
                                        "BET_DELIVERABLE_SERVICE",
                                        "CONTENT",
                                        "CONVERSATION",
                                        "BET_ALERT",
                                        "PORTAL",
                                        "QUOTE",
                                        "FORM_SUBMISSION_INBOUNDDB",
                                        "QUOTA",
                                        "UNSUBSCRIBE",
                                        "COMMUNICATION",
                                        "FEEDBACK_SUBMISSION",
                                        "ATTRIBUTION",
                                        "SALESFORCE_SYNC_ERROR",
                                        "RESTORABLE_CRM_OBJECT",
                                        "HUB",
                                        "LANDING_PAGE",
                                        "PRODUCT_OR_FOLDER",
                                        "TASK",
                                        "FORM",
                                        "MARKETING_EMAIL",
                                        "AD_ACCOUNT",
                                        "AD_CAMPAIGN",
                                        "AD_GROUP",
                                        "AD",
                                        "KEYWORD",
                                        "CAMPAIGN",
                                        "SOCIAL_CHANNEL",
                                        "SOCIAL_POST",
                                        "SITE_PAGE",
                                        "BLOG_POST",
                                        "IMPORT",
                                        "EXPORT",
                                        "CTA",
                                        "TASK_TEMPLATE",
                                        "AUTOMATION_PLATFORM_FLOW",
                                        "OBJECT_LIST",
                                        "NOTE",
                                        "MEETING_EVENT",
                                        "CALL",
                                        "EMAIL",
                                        "PUBLISHING_TASK",
                                        "CONVERSATION_SESSION",
                                        "CONTACT_CREATE_ATTRIBUTION",
                                        "INVOICE",
                                        "MARKETING_EVENT",
                                        "CONVERSATION_INBOX",
                                        "CHATFLOW",
                                        "MEDIA_BRIDGE",
                                        "SEQUENCE",
                                        "SEQUENCE_STEP",
                                        "FORECAST",
                                        "SNIPPET",
                                        "TEMPLATE",
                                        "DEAL_CREATE_ATTRIBUTION",
                                        "QUOTE_TEMPLATE",
                                        "QUOTE_MODULE",
                                        "QUOTE_MODULE_FIELD",
                                        "QUOTE_FIELD",
                                        "SEQUENCE_ENROLLMENT",
                                        "SUBSCRIPTION",
                                        "ACCEPTANCE_TEST",
                                        "SOCIAL_BROADCAST",
                                        "DEAL_SPLIT",
                                        "DEAL_REGISTRATION",
                                        "GOAL_TARGET",
                                        "GOAL_TARGET_GROUP",
                                        "PORTAL_OBJECT_SYNC_MESSAGE",
                                        "FILE_MANAGER_FILE",
                                        "FILE_MANAGER_FOLDER",
                                        "SEQUENCE_STEP_ENROLLMENT",
                                        "APPROVAL",
                                        "APPROVAL_STEP",
                                        "CTA_VARIANT",
                                        "SALES_DOCUMENT",
                                        "DISCOUNT",
                                        "FEE",
                                        "TAX",
                                        "MARKETING_CALENDAR",
                                        "PERMISSIONS_TESTING",
                                        "PRIVACY_SCANNER_COOKIE",
                                        "DATA_SYNC_STATE",
                                        "WEB_INTERACTIVE",
                                        "PLAYBOOK",
                                        "FOLDER",
                                        "PLAYBOOK_QUESTION",
                                        "PLAYBOOK_SUBMISSION",
                                        "PLAYBOOK_SUBMISSION_ANSWER",
                                        "COMMERCE_PAYMENT",
                                        "GSC_PROPERTY",
                                        "SOX_PROTECTED_DUMMY_TYPE",
                                        "BLOG_LISTING_PAGE",
                                        "QUARANTINED_SUBMISSION",
                                        "PAYMENT_SCHEDULE",
                                        "PAYMENT_SCHEDULE_INSTALLMENT",
                                        "MARKETING_CAMPAIGN_UTM",
                                        "DISCOUNT_TEMPLATE",
                                        "DISCOUNT_CODE",
                                        "FEEDBACK_SURVEY",
                                        "CMS_URL",
                                        "SALES_TASK",
                                        "SALES_WORKLOAD",
                                        "USER",
                                        "POSTAL_MAIL",
                                        "SCHEMAS_BACKEND_TEST",
                                        "PAYMENT_LINK",
                                        "SUBMISSION_TAG",
                                        "CAMPAIGN_STEP",
                                        "SCHEDULING_PAGE",
                                        "SOX_PROTECTED_TEST_TYPE",
                                        "ORDER",
                                        "MARKETING_SMS",
                                        "PARTNER_ACCOUNT",
                                        "CAMPAIGN_TEMPLATE",
                                        "CAMPAIGN_TEMPLATE_STEP",
                                        "PLAYLIST",
                                        "CLIP",
                                        "CAMPAIGN_BUDGET_ITEM",
                                        "CAMPAIGN_SPEND_ITEM",
                                        "MIC",
                                        "CONTENT_AUDIT",
                                        "CONTENT_AUDIT_PAGE",
                                        "PLAYLIST_FOLDER",
                                        "LEAD",
                                        "ABANDONED_CART",
                                        "EXTERNAL_WEB_URL",
                                        "VIEW",
                                        "VIEW_BLOCK",
                                        "ROSTER",
                                        "CART",
                                        "AUTOMATION_PLATFORM_FLOW_ACTION",
                                        "SOCIAL_PROFILE",
                                        "PARTNER_CLIENT",
                                        "ROSTER_MEMBER",
                                        "MARKETING_EVENT_ATTENDANCE",
                                        "ALL_PAGES",
                                        "AI_FORECAST",
                                        "CRM_PIPELINES_DUMMY_TYPE",
                                        "KNOWLEDGE_ARTICLE",
                                        "PROPERTY_INFO",
                                        "DATA_PRIVACY_CONSENT",
                                        "GOAL_TEMPLATE",
                                        "SCORE_CONFIGURATION",
                                        "AUDIENCE",
                                        "PARTNER_CLIENT_REVENUE",
                                        "AUTOMATION_JOURNEY",
                                        "UNKNOWN"
                                      ]
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "options": {
                                      "type": "array",
                                      "items": {
                                        "required": [
                                          "description",
                                          "displayOrder",
                                          "doubleData",
                                          "hidden",
                                          "label",
                                          "readOnly",
                                          "value"
                                        ],
                                        "type": "object",
                                        "properties": {
                                          "hidden": {
                                            "type": "boolean",
                                            "description": "Whether the option is displayed in HubSpot's UI.",
                                            "example": false
                                          },
                                          "displayOrder": {
                                            "type": "integer",
                                            "description": "The position of the item relative to others in the list.",
                                            "format": "int32"
                                          },
                                          "doubleData": {
                                            "type": "number"
                                          },
                                          "description": {
                                            "type": "string",
                                            "description": "A description of the option.",
                                            "example": ""
                                          },
                                          "readOnly": {
                                            "type": "boolean",
                                            "description": "Whether the option is read-only.",
                                            "example": false
                                          },
                                          "label": {
                                            "type": "string",
                                            "description": "A user-friendly label that identifies the option.",
                                            "example": ""
                                          },
                                          "value": {
                                            "type": "string",
                                            "description": "The actual value of the option.",
                                            "example": ""
                                          }
                                        },
                                        "description": "A HubSpot property option"
                                      }
                                    },
                                    "description": {
                                      "type": "string"
                                    },
                                    "externalOptionsReferenceType": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "string",
                                        "number",
                                        "bool",
                                        "datetime",
                                        "enumeration",
                                        "date",
                                        "phone_number",
                                        "currency_number",
                                        "json",
                                        "object_coordinates"
                                      ]
                                    },
                                    "fieldType": {
                                      "type": "string",
                                      "enum": [
                                        "booleancheckbox",
                                        "checkbox",
                                        "date",
                                        "file",
                                        "number",
                                        "phonenumber",
                                        "radio",
                                        "select",
                                        "text",
                                        "textarea",
                                        "calculation_equation",
                                        "calculation_rollup",
                                        "calculation_score",
                                        "calculation_read_time",
                                        "unknown",
                                        "html"
                                      ]
                                    },
                                    "optionsUrl": {
                                      "type": "string"
                                    },
                                    "externalOptions": {
                                      "type": "boolean"
                                    }
                                  }
                                },
                                "supportedValueTypes": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "STATIC_VALUE",
                                      "OBJECT_PROPERTY",
                                      "FIELD_DATA",
                                      "FETCHED_OBJECT_PROPERTY",
                                      "ENROLLMENT_EVENT_PROPERTY"
                                    ]
                                  }
                                }
                              }
                            }
                          },
                          "outputFields": {
                            "type": "array",
                            "items": {
                              "required": [
                                "typeDefinition"
                              ],
                              "type": "object",
                              "properties": {
                                "typeDefinition": {
                                  "required": [
                                    "externalOptions",
                                    "name",
                                    "options",
                                    "type"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "helpText": {
                                      "type": "string"
                                    },
                                    "referencedObjectType": {
                                      "type": "string",
                                      "enum": [
                                        "CONTACT",
                                        "COMPANY",
                                        "DEAL",
                                        "ENGAGEMENT",
                                        "TICKET",
                                        "OWNER",
                                        "PRODUCT",
                                        "LINE_ITEM",
                                        "BET_DELIVERABLE_SERVICE",
                                        "CONTENT",
                                        "CONVERSATION",
                                        "BET_ALERT",
                                        "PORTAL",
                                        "QUOTE",
                                        "FORM_SUBMISSION_INBOUNDDB",
                                        "QUOTA",
                                        "UNSUBSCRIBE",
                                        "COMMUNICATION",
                                        "FEEDBACK_SUBMISSION",
                                        "ATTRIBUTION",
                                        "SALESFORCE_SYNC_ERROR",
                                        "RESTORABLE_CRM_OBJECT",
                                        "HUB",
                                        "LANDING_PAGE",
                                        "PRODUCT_OR_FOLDER",
                                        "TASK",
                                        "FORM",
                                        "MARKETING_EMAIL",
                                        "AD_ACCOUNT",
                                        "AD_CAMPAIGN",
                                        "AD_GROUP",
                                        "AD",
                                        "KEYWORD",
                                        "CAMPAIGN",
                                        "SOCIAL_CHANNEL",
                                        "SOCIAL_POST",
                                        "SITE_PAGE",
                                        "BLOG_POST",
                                        "IMPORT",
                                        "EXPORT",
                                        "CTA",
                                        "TASK_TEMPLATE",
                                        "AUTOMATION_PLATFORM_FLOW",
                                        "OBJECT_LIST",
                                        "NOTE",
                                        "MEETING_EVENT",
                                        "CALL",
                                        "EMAIL",
                                        "PUBLISHING_TASK",
                                        "CONVERSATION_SESSION",
                                        "CONTACT_CREATE_ATTRIBUTION",
                                        "INVOICE",
                                        "MARKETING_EVENT",
                                        "CONVERSATION_INBOX",
                                        "CHATFLOW",
                                        "MEDIA_BRIDGE",
                                        "SEQUENCE",
                                        "SEQUENCE_STEP",
                                        "FORECAST",
                                        "SNIPPET",
                                        "TEMPLATE",
                                        "DEAL_CREATE_ATTRIBUTION",
                                        "QUOTE_TEMPLATE",
                                        "QUOTE_MODULE",
                                        "QUOTE_MODULE_FIELD",
                                        "QUOTE_FIELD",
                                        "SEQUENCE_ENROLLMENT",
                                        "SUBSCRIPTION",
                                        "ACCEPTANCE_TEST",
                                        "SOCIAL_BROADCAST",
                                        "DEAL_SPLIT",
                                        "DEAL_REGISTRATION",
                                        "GOAL_TARGET",
                                        "GOAL_TARGET_GROUP",
                                        "PORTAL_OBJECT_SYNC_MESSAGE",
                                        "FILE_MANAGER_FILE",
                                        "FILE_MANAGER_FOLDER",
                                        "SEQUENCE_STEP_ENROLLMENT",
                                        "APPROVAL",
                                        "APPROVAL_STEP",
                                        "CTA_VARIANT",
                                        "SALES_DOCUMENT",
                                        "DISCOUNT",
                                        "FEE",
                                        "TAX",
                                        "MARKETING_CALENDAR",
                                        "PERMISSIONS_TESTING",
                                        "PRIVACY_SCANNER_COOKIE",
                                        "DATA_SYNC_STATE",
                                        "WEB_INTERACTIVE",
                                        "PLAYBOOK",
                                        "FOLDER",
                                        "PLAYBOOK_QUESTION",
                                        "PLAYBOOK_SUBMISSION",
                                        "PLAYBOOK_SUBMISSION_ANSWER",
                                        "COMMERCE_PAYMENT",
                                        "GSC_PROPERTY",
                                        "SOX_PROTECTED_DUMMY_TYPE",
                                        "BLOG_LISTING_PAGE",
                                        "QUARANTINED_SUBMISSION",
                                        "PAYMENT_SCHEDULE",
                                        "PAYMENT_SCHEDULE_INSTALLMENT",
                                        "MARKETING_CAMPAIGN_UTM",
                                        "DISCOUNT_TEMPLATE",
                                        "DISCOUNT_CODE",
                                        "FEEDBACK_SURVEY",
                                        "CMS_URL",
                                        "SALES_TASK",
                                        "SALES_WORKLOAD",
                                        "USER",
                                        "POSTAL_MAIL",
                                        "SCHEMAS_BACKEND_TEST",
                                        "PAYMENT_LINK",
                                        "SUBMISSION_TAG",
                                        "CAMPAIGN_STEP",
                                        "SCHEDULING_PAGE",
                                        "SOX_PROTECTED_TEST_TYPE",
                                        "ORDER",
                                        "MARKETING_SMS",
                                        "PARTNER_ACCOUNT",
                                        "CAMPAIGN_TEMPLATE",
                                        "CAMPAIGN_TEMPLATE_STEP",
                                        "PLAYLIST",
                                        "CLIP",
                                        "CAMPAIGN_BUDGET_ITEM",
                                        "CAMPAIGN_SPEND_ITEM",
                                        "MIC",
                                        "CONTENT_AUDIT",
                                        "CONTENT_AUDIT_PAGE",
                                        "PLAYLIST_FOLDER",
                                        "LEAD",
                                        "ABANDONED_CART",
                                        "EXTERNAL_WEB_URL",
                                        "VIEW",
                                        "VIEW_BLOCK",
                                        "ROSTER",
                                        "CART",
                                        "AUTOMATION_PLATFORM_FLOW_ACTION",
                                        "SOCIAL_PROFILE",
                                        "PARTNER_CLIENT",
                                        "ROSTER_MEMBER",
                                        "MARKETING_EVENT_ATTENDANCE",
                                        "ALL_PAGES",
                                        "AI_FORECAST",
                                        "CRM_PIPELINES_DUMMY_TYPE",
                                        "KNOWLEDGE_ARTICLE",
                                        "PROPERTY_INFO",
                                        "DATA_PRIVACY_CONSENT",
                                        "GOAL_TEMPLATE",
                                        "SCORE_CONFIGURATION",
                                        "AUDIENCE",
                                        "PARTNER_CLIENT_REVENUE",
                                        "AUTOMATION_JOURNEY",
                                        "UNKNOWN"
                                      ]
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "options": {
                                      "type": "array",
                                      "items": {
                                        "required": [
                                          "description",
                                          "displayOrder",
                                          "doubleData",
                                          "hidden",
                                          "label",
                                          "readOnly",
                                          "value"
                                        ],
                                        "type": "object",
                                        "properties": {
                                          "hidden": {
                                            "type": "boolean",
                                            "description": "Whether the option is displayed in HubSpot's UI.",
                                            "example": false
                                          },
                                          "displayOrder": {
                                            "type": "integer",
                                            "description": "The position of the item relative to others in the list.",
                                            "format": "int32"
                                          },
                                          "doubleData": {
                                            "type": "number"
                                          },
                                          "description": {
                                            "type": "string",
                                            "description": "A description of the option.",
                                            "example": ""
                                          },
                                          "readOnly": {
                                            "type": "boolean",
                                            "description": "Whether the option is read-only.",
                                            "example": false
                                          },
                                          "label": {
                                            "type": "string",
                                            "description": "A user-friendly label that identifies the option.",
                                            "example": ""
                                          },
                                          "value": {
                                            "type": "string",
                                            "description": "The actual value of the option.",
                                            "example": ""
                                          }
                                        },
                                        "description": "A HubSpot property option"
                                      }
                                    },
                                    "description": {
                                      "type": "string"
                                    },
                                    "externalOptionsReferenceType": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "string",
                                        "number",
                                        "bool",
                                        "datetime",
                                        "enumeration",
                                        "date",
                                        "phone_number",
                                        "currency_number",
                                        "json",
                                        "object_coordinates"
                                      ]
                                    },
                                    "fieldType": {
                                      "type": "string",
                                      "enum": [
                                        "booleancheckbox",
                                        "checkbox",
                                        "date",
                                        "file",
                                        "number",
                                        "phonenumber",
                                        "radio",
                                        "select",
                                        "text",
                                        "textarea",
                                        "calculation_equation",
                                        "calculation_rollup",
                                        "calculation_score",
                                        "calculation_read_time",
                                        "unknown",
                                        "html"
                                      ]
                                    },
                                    "optionsUrl": {
                                      "type": "string"
                                    },
                                    "externalOptions": {
                                      "type": "boolean"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "revisionId": {
                            "type": "string"
                          },
                          "archivedAt": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "inputFieldDependencies": {
                            "type": "array",
                            "items": {
                              "oneOf": [
                                {
                                  "title": "SINGLE_FIELD",
                                  "required": [
                                    "controllingFieldName",
                                    "dependencyType",
                                    "dependentFieldNames"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "dependencyType": {
                                      "type": "string",
                                      "default": "SINGLE_FIELD",
                                      "enum": [
                                        "SINGLE_FIELD"
                                      ]
                                    },
                                    "controllingFieldName": {
                                      "type": "string"
                                    },
                                    "dependentFieldNames": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                },
                                {
                                  "title": "CONDITIONAL_SINGLE_FIELD",
                                  "required": [
                                    "controllingFieldName",
                                    "controllingFieldValue",
                                    "dependencyType",
                                    "dependentFieldNames"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "dependencyType": {
                                      "type": "string",
                                      "default": "CONDITIONAL_SINGLE_FIELD",
                                      "enum": [
                                        "CONDITIONAL_SINGLE_FIELD"
                                      ]
                                    },
                                    "controllingFieldName": {
                                      "type": "string"
                                    },
                                    "controllingFieldValue": {
                                      "type": "string"
                                    },
                                    "dependentFieldNames": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              ]
                            }
                          },
                          "executionRules": {
                            "type": "array",
                            "items": {
                              "required": [
                                "conditions",
                                "labelName"
                              ],
                              "type": "object",
                              "properties": {
                                "labelName": {
                                  "type": "string"
                                },
                                "conditions": {
                                  "type": "object",
                                  "additionalProperties": {
                                    "type": "object",
                                    "properties": {}
                                  }
                                }
                              }
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "objectTypes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "objectRequestOptions": {
                            "required": [
                              "properties"
                            ],
                            "type": "object",
                            "properties": {
                              "properties": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "developer_hapikey": []
          }
        ],
        "x-moar-primitive-count": 0,
        "x-moar-complexity-skipped": false
      },
      "post": {
        "tags": [
          "Definitions"
        ],
        "summary": "Create a new custom action definition",
        "description": "Create a new custom workflow action.",
        "operationId": "post-/automation/v4/actions/{appId}_create",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "The ID of the app.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "actionUrl",
                  "functions",
                  "inputFields",
                  "labels",
                  "objectTypes",
                  "published"
                ],
                "type": "object",
                "properties": {
                  "inputFields": {
                    "type": "array",
                    "items": {
                      "required": [
                        "isRequired",
                        "typeDefinition"
                      ],
                      "type": "object",
                      "properties": {
                        "isRequired": {
                          "type": "boolean"
                        },
                        "automationFieldType": {
                          "type": "string"
                        },
                        "typeDefinition": {
                          "required": [
                            "externalOptions",
                            "name",
                            "options",
                            "type"
                          ],
                          "type": "object",
                          "properties": {
                            "helpText": {
                              "type": "string"
                            },
                            "referencedObjectType": {
                              "type": "string",
                              "enum": [
                                "CONTACT",
                                "COMPANY",
                                "DEAL",
                                "ENGAGEMENT",
                                "TICKET",
                                "OWNER",
                                "PRODUCT",
                                "LINE_ITEM",
                                "BET_DELIVERABLE_SERVICE",
                                "CONTENT",
                                "CONVERSATION",
                                "BET_ALERT",
                                "PORTAL",
                                "QUOTE",
                                "FORM_SUBMISSION_INBOUNDDB",
                                "QUOTA",
                                "UNSUBSCRIBE",
                                "COMMUNICATION",
                                "FEEDBACK_SUBMISSION",
                                "ATTRIBUTION",
                                "SALESFORCE_SYNC_ERROR",
                                "RESTORABLE_CRM_OBJECT",
                                "HUB",
                                "LANDING_PAGE",
                                "PRODUCT_OR_FOLDER",
                                "TASK",
                                "FORM",
                                "MARKETING_EMAIL",
                                "AD_ACCOUNT",
                                "AD_CAMPAIGN",
                                "AD_GROUP",
                                "AD",
                                "KEYWORD",
                                "CAMPAIGN",
                                "SOCIAL_CHANNEL",
                                "SOCIAL_POST",
                                "SITE_PAGE",
                                "BLOG_POST",
                                "IMPORT",
                                "EXPORT",
                                "CTA",
                                "TASK_TEMPLATE",
                                "AUTOMATION_PLATFORM_FLOW",
                                "OBJECT_LIST",
                                "NOTE",
                                "MEETING_EVENT",
                                "CALL",
                                "EMAIL",
                                "PUBLISHING_TASK",
                                "CONVERSATION_SESSION",
                                "CONTACT_CREATE_ATTRIBUTION",
                                "INVOICE",
                                "MARKETING_EVENT",
                                "CONVERSATION_INBOX",
                                "CHATFLOW",
                                "MEDIA_BRIDGE",
                                "SEQUENCE",
                                "SEQUENCE_STEP",
                                "FORECAST",
                                "SNIPPET",
                                "TEMPLATE",
                                "DEAL_CREATE_ATTRIBUTION",
                                "QUOTE_TEMPLATE",
                                "QUOTE_MODULE",
                                "QUOTE_MODULE_FIELD",
                                "QUOTE_FIELD",
                                "SEQUENCE_ENROLLMENT",
                                "SUBSCRIPTION",
                                "ACCEPTANCE_TEST",
                                "SOCIAL_BROADCAST",
                                "DEAL_SPLIT",
                                "DEAL_REGISTRATION",
                                "GOAL_TARGET",
                                "GOAL_TARGET_GROUP",
                                "PORTAL_OBJECT_SYNC_MESSAGE",
                                "FILE_MANAGER_FILE",
                                "FILE_MANAGER_FOLDER",
                                "SEQUENCE_STEP_ENROLLMENT",
                                "APPROVAL",
                                "APPROVAL_STEP",
                                "CTA_VARIANT",
                                "SALES_DOCUMENT",
                                "DISCOUNT",
                                "FEE",
                                "TAX",
                                "MARKETING_CALENDAR",
                                "PERMISSIONS_TESTING",
                                "PRIVACY_SCANNER_COOKIE",
                                "DATA_SYNC_STATE",
                                "WEB_INTERACTIVE",
                                "PLAYBOOK",
                                "FOLDER",
                                "PLAYBOOK_QUESTION",
                                "PLAYBOOK_SUBMISSION",
                                "PLAYBOOK_SUBMISSION_ANSWER",
                                "COMMERCE_PAYMENT",
                                "GSC_PROPERTY",
                                "SOX_PROTECTED_DUMMY_TYPE",
                                "BLOG_LISTING_PAGE",
                                "QUARANTINED_SUBMISSION",
                                "PAYMENT_SCHEDULE",
                                "PAYMENT_SCHEDULE_INSTALLMENT",
                                "MARKETING_CAMPAIGN_UTM",
                                "DISCOUNT_TEMPLATE",
                                "DISCOUNT_CODE",
                                "FEEDBACK_SURVEY",
                                "CMS_URL",
                                "SALES_TASK",
                                "SALES_WORKLOAD",
                                "USER",
                                "POSTAL_MAIL",
                                "SCHEMAS_BACKEND_TEST",
                                "PAYMENT_LINK",
                                "SUBMISSION_TAG",
                                "CAMPAIGN_STEP",
                                "SCHEDULING_PAGE",
                                "SOX_PROTECTED_TEST_TYPE",
                                "ORDER",
                                "MARKETING_SMS",
                                "PARTNER_ACCOUNT",
                                "CAMPAIGN_TEMPLATE",
                                "CAMPAIGN_TEMPLATE_STEP",
                                "PLAYLIST",
                                "CLIP",
                                "CAMPAIGN_BUDGET_ITEM",
                                "CAMPAIGN_SPEND_ITEM",
                                "MIC",
                                "CONTENT_AUDIT",
                                "CONTENT_AUDIT_PAGE",
                                "PLAYLIST_FOLDER",
                                "LEAD",
                                "ABANDONED_CART",
                                "EXTERNAL_WEB_URL",
                                "VIEW",
                                "VIEW_BLOCK",
                                "ROSTER",
                                "CART",
                                "AUTOMATION_PLATFORM_FLOW_ACTION",
                                "SOCIAL_PROFILE",
                                "PARTNER_CLIENT",
                                "ROSTER_MEMBER",
                                "MARKETING_EVENT_ATTENDANCE",
                                "ALL_PAGES",
                                "AI_FORECAST",
                                "CRM_PIPELINES_DUMMY_TYPE",
                                "KNOWLEDGE_ARTICLE",
                                "PROPERTY_INFO",
                                "DATA_PRIVACY_CONSENT",
                                "GOAL_TEMPLATE",
                                "SCORE_CONFIGURATION",
                                "AUDIENCE",
                                "PARTNER_CLIENT_REVENUE",
                                "AUTOMATION_JOURNEY",
                                "UNKNOWN"
                              ]
                            },
                            "name": {
                              "type": "string"
                            },
                            "options": {
                              "type": "array",
                              "items": {
                                "required": [
                                  "description",
                                  "displayOrder",
                                  "doubleData",
                                  "hidden",
                                  "label",
                                  "readOnly",
                                  "value"
                                ],
                                "type": "object",
                                "properties": {
                                  "hidden": {
                                    "type": "boolean",
                                    "description": "Whether the option is displayed in HubSpot's UI.",
                                    "example": false
                                  },
                                  "displayOrder": {
                                    "type": "integer",
                                    "description": "The position of the item relative to others in the list.",
                                    "format": "int32"
                                  },
                                  "doubleData": {
                                    "type": "number"
                                  },
                                  "description": {
                                    "type": "string",
                                    "description": "A description of the option.",
                                    "example": ""
                                  },
                                  "readOnly": {
                                    "type": "boolean",
                                    "description": "Whether the option is read-only.",
                                    "example": false
                                  },
                                  "label": {
                                    "type": "string",
                                    "description": "A user-friendly label that identifies the option.",
                                    "example": ""
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "The actual value of the option.",
                                    "example": ""
                                  }
                                },
                                "description": "A HubSpot property option"
                              }
                            },
                            "description": {
                              "type": "string"
                            },
                            "externalOptionsReferenceType": {
                              "type": "string"
                            },
                            "label": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "string",
                                "number",
                                "bool",
                                "datetime",
                                "enumeration",
                                "date",
                                "phone_number",
                                "currency_number",
                                "json",
                                "object_coordinates"
                              ]
                            },
                            "fieldType": {
                              "type": "string",
                              "enum": [
                                "booleancheckbox",
                                "checkbox",
                                "date",
                                "file",
                                "number",
                                "phonenumber",
                                "radio",
                                "select",
                                "text",
                                "textarea",
                                "calculation_equation",
                                "calculation_rollup",
                                "calculation_score",
                                "calculation_read_time",
                                "unknown",
                                "html"
                              ]
                            },
                            "optionsUrl": {
                              "type": "string"
                            },
                            "externalOptions": {
                              "type": "boolean"
                            }
                          }
                        },
                        "supportedValueTypes": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "STATIC_VALUE",
                              "OBJECT_PROPERTY",
                              "FIELD_DATA",
                              "FETCHED_OBJECT_PROPERTY",
                              "ENROLLMENT_EVENT_PROPERTY"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "outputFields": {
                    "type": "array",
                    "items": {
                      "required": [
                        "typeDefinition"
                      ],
                      "type": "object",
                      "properties": {
                        "typeDefinition": {
                          "required": [
                            "externalOptions",
                            "name",
                            "options",
                            "type"
                          ],
                          "type": "object",
                          "properties": {
                            "helpText": {
                              "type": "string"
                            },
                            "referencedObjectType": {
                              "type": "string",
                              "enum": [
                                "CONTACT",
                                "COMPANY",
                                "DEAL",
                                "ENGAGEMENT",
                                "TICKET",
                                "OWNER",
                                "PRODUCT",
                                "LINE_ITEM",
                                "BET_DELIVERABLE_SERVICE",
                                "CONTENT",
                                "CONVERSATION",
                                "BET_ALERT",
                                "PORTAL",
                                "QUOTE",
                                "FORM_SUBMISSION_INBOUNDDB",
                                "QUOTA",
                                "UNSUBSCRIBE",
                                "COMMUNICATION",
                                "FEEDBACK_SUBMISSION",
                                "ATTRIBUTION",
                                "SALESFORCE_SYNC_ERROR",
                                "RESTORABLE_CRM_OBJECT",
                                "HUB",
                                "LANDING_PAGE",
                                "PRODUCT_OR_FOLDER",
                                "TASK",
                                "FORM",
                                "MARKETING_EMAIL",
                                "AD_ACCOUNT",
                                "AD_CAMPAIGN",
                                "AD_GROUP",
                                "AD",
                                "KEYWORD",
                                "CAMPAIGN",
                                "SOCIAL_CHANNEL",
                                "SOCIAL_POST",
                                "SITE_PAGE",
                                "BLOG_POST",
                                "IMPORT",
                                "EXPORT",
                                "CTA",
                                "TASK_TEMPLATE",
                                "AUTOMATION_PLATFORM_FLOW",
                                "OBJECT_LIST",
                                "NOTE",
                                "MEETING_EVENT",
                                "CALL",
                                "EMAIL",
                                "PUBLISHING_TASK",
                                "CONVERSATION_SESSION",
                                "CONTACT_CREATE_ATTRIBUTION",
                                "INVOICE",
                                "MARKETING_EVENT",
                                "CONVERSATION_INBOX",
                                "CHATFLOW",
                                "MEDIA_BRIDGE",
                                "SEQUENCE",
                                "SEQUENCE_STEP",
                                "FORECAST",
                                "SNIPPET",
                                "TEMPLATE",
                                "DEAL_CREATE_ATTRIBUTION",
                                "QUOTE_TEMPLATE",
                                "QUOTE_MODULE",
                                "QUOTE_MODULE_FIELD",
                                "QUOTE_FIELD",
                                "SEQUENCE_ENROLLMENT",
                                "SUBSCRIPTION",
                                "ACCEPTANCE_TEST",
                                "SOCIAL_BROADCAST",
                                "DEAL_SPLIT",
                                "DEAL_REGISTRATION",
                                "GOAL_TARGET",
                                "GOAL_TARGET_GROUP",
                                "PORTAL_OBJECT_SYNC_MESSAGE",
                                "FILE_MANAGER_FILE",
                                "FILE_MANAGER_FOLDER",
                                "SEQUENCE_STEP_ENROLLMENT",
                                "APPROVAL",
                                "APPROVAL_STEP",
                                "CTA_VARIANT",
                                "SALES_DOCUMENT",
                                "DISCOUNT",
                                "FEE",
                                "TAX",
                                "MARKETING_CALENDAR",
                                "PERMISSIONS_TESTING",
                                "PRIVACY_SCANNER_COOKIE",
                                "DATA_SYNC_STATE",
                                "WEB_INTERACTIVE",
                                "PLAYBOOK",
                                "FOLDER",
                                "PLAYBOOK_QUESTION",
                                "PLAYBOOK_SUBMISSION",
                                "PLAYBOOK_SUBMISSION_ANSWER",
                                "COMMERCE_PAYMENT",
                                "GSC_PROPERTY",
                                "SOX_PROTECTED_DUMMY_TYPE",
                                "BLOG_LISTING_PAGE",
                                "QUARANTINED_SUBMISSION",
                                "PAYMENT_SCHEDULE",
                                "PAYMENT_SCHEDULE_INSTALLMENT",
                                "MARKETING_CAMPAIGN_UTM",
                                "DISCOUNT_TEMPLATE",
                                "DISCOUNT_CODE",
                                "FEEDBACK_SURVEY",
                                "CMS_URL",
                                "SALES_TASK",
                                "SALES_WORKLOAD",
                                "USER",
                                "POSTAL_MAIL",
                                "SCHEMAS_BACKEND_TEST",
                                "PAYMENT_LINK",
                                "SUBMISSION_TAG",
                                "CAMPAIGN_STEP",
                                "SCHEDULING_PAGE",
                                "SOX_PROTECTED_TEST_TYPE",
                                "ORDER",
                                "MARKETING_SMS",
                                "PARTNER_ACCOUNT",
                                "CAMPAIGN_TEMPLATE",
                                "CAMPAIGN_TEMPLATE_STEP",
                                "PLAYLIST",
                                "CLIP",
                                "CAMPAIGN_BUDGET_ITEM",
                                "CAMPAIGN_SPEND_ITEM",
                                "MIC",
                                "CONTENT_AUDIT",
                                "CONTENT_AUDIT_PAGE",
                                "PLAYLIST_FOLDER",
                                "LEAD",
                                "ABANDONED_CART",
                                "EXTERNAL_WEB_URL",
                                "VIEW",
                                "VIEW_BLOCK",
                                "ROSTER",
                                "CART",
                                "AUTOMATION_PLATFORM_FLOW_ACTION",
                                "SOCIAL_PROFILE",
                                "PARTNER_CLIENT",
                                "ROSTER_MEMBER",
                                "MARKETING_EVENT_ATTENDANCE",
                                "ALL_PAGES",
                                "AI_FORECAST",
                                "CRM_PIPELINES_DUMMY_TYPE",
                                "KNOWLEDGE_ARTICLE",
                                "PROPERTY_INFO",
                                "DATA_PRIVACY_CONSENT",
                                "GOAL_TEMPLATE",
                                "SCORE_CONFIGURATION",
                                "AUDIENCE",
                                "PARTNER_CLIENT_REVENUE",
                                "AUTOMATION_JOURNEY",
                                "UNKNOWN"
                              ]
                            },
                            "name": {
                              "type": "string"
                            },
                            "options": {
                              "type": "array",
                              "items": {
                                "required": [
                                  "description",
                                  "displayOrder",
                                  "doubleData",
                                  "hidden",
                                  "label",
                                  "readOnly",
                                  "value"
                                ],
                                "type": "object",
                                "properties": {
                                  "hidden": {
                                    "type": "boolean",
                                    "description": "Whether the option is displayed in HubSpot's UI.",
                                    "example": false
                                  },
                                  "displayOrder": {
                                    "type": "integer",
                                    "description": "The position of the item relative to others in the list.",
                                    "format": "int32"
                                  },
                                  "doubleData": {
                                    "type": "number"
                                  },
                                  "description": {
                                    "type": "string",
                                    "description": "A description of the option.",
                                    "example": ""
                                  },
                                  "readOnly": {
                                    "type": "boolean",
                                    "description": "Whether the option is read-only.",
                                    "example": false
                                  },
                                  "label": {
                                    "type": "string",
                                    "description": "A user-friendly label that identifies the option.",
                                    "example": ""
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "The actual value of the option.",
                                    "example": ""
                                  }
                                },
                                "description": "A HubSpot property option"
                              }
                            },
                            "description": {
                              "type": "string"
                            },
                            "externalOptionsReferenceType": {
                              "type": "string"
                            },
                            "label": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "string",
                                "number",
                                "bool",
                                "datetime",
                                "enumeration",
                                "date",
                                "phone_number",
                                "currency_number",
                                "json",
                                "object_coordinates"
                              ]
                            },
                            "fieldType": {
                              "type": "string",
                              "enum": [
                                "booleancheckbox",
                                "checkbox",
                                "date",
                                "file",
                                "number",
                                "phonenumber",
                                "radio",
                                "select",
                                "text",
                                "textarea",
                                "calculation_equation",
                                "calculation_rollup",
                                "calculation_score",
                                "calculation_read_time",
                                "unknown",
                                "html"
                              ]
                            },
                            "optionsUrl": {
                              "type": "string"
                            },
                            "externalOptions": {
                              "type": "boolean"
                            }
                          }
                        }
                      }
                    }
                  },
                  "archivedAt": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "functions": {
                    "type": "array",
                    "items": {
                      "required": [
                        "functionSource",
                        "functionType"
                      ],
                      "type": "object",
                      "properties": {
                        "functionSource": {
                          "type": "string"
                        },
                        "functionType": {
                          "type": "string",
                          "enum": [
                            "PRE_ACTION_EXECUTION",
                            "PRE_FETCH_OPTIONS",
                            "POST_FETCH_OPTIONS",
                            "POST_ACTION_EXECUTION"
                          ]
                        },
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "actionUrl": {
                    "type": "string"
                  },
                  "inputFieldDependencies": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "title": "SINGLE_FIELD",
                          "required": [
                            "controllingFieldName",
                            "dependencyType",
                            "dependentFieldNames"
                          ],
                          "type": "object",
                          "properties": {
                            "dependencyType": {
                              "type": "string",
                              "default": "SINGLE_FIELD",
                              "enum": [
                                "SINGLE_FIELD"
                              ]
                            },
                            "controllingFieldName": {
                              "type": "string"
                            },
                            "dependentFieldNames": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        {
                          "title": "CONDITIONAL_SINGLE_FIELD",
                          "required": [
                            "controllingFieldName",
                            "controllingFieldValue",
                            "dependencyType",
                            "dependentFieldNames"
                          ],
                          "type": "object",
                          "properties": {
                            "dependencyType": {
                              "type": "string",
                              "default": "CONDITIONAL_SINGLE_FIELD",
                              "enum": [
                                "CONDITIONAL_SINGLE_FIELD"
                              ]
                            },
                            "controllingFieldName": {
                              "type": "string"
                            },
                            "controllingFieldValue": {
                              "type": "string"
                            },
                            "dependentFieldNames": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      ]
                    }
                  },
                  "published": {
                    "type": "boolean"
                  },
                  "executionRules": {
                    "type": "array",
                    "items": {
                      "required": [
                        "conditions",
                        "labelName"
                      ],
                      "type": "object",
                      "properties": {
                        "labelName": {
                          "type": "string"
                        },
                        "conditions": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "properties": {}
                          }
                        }
                      }
                    }
                  },
                  "objectTypes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "objectRequestOptions": {
                    "required": [
                      "properties"
                    ],
                    "type": "object",
                    "properties": {
                      "properties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "labels": {
                    "type": "object",
                    "additionalProperties": {
                      "required": [
                        "actionName"
                      ],
                      "type": "object",
                      "properties": {
                        "inputFieldDescriptions": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        },
                        "appDisplayName": {
                          "type": "string"
                        },
                        "outputFieldLabels": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        },
                        "inputFieldOptionLabels": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "string"
                            }
                          }
                        },
                        "actionDescription": {
                          "type": "string"
                        },
                        "executionRules": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        },
                        "inputFieldLabels": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        },
                        "actionName": {
                          "type": "string"
                        },
                        "actionCardContent": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "actionUrl",
                    "functions",
                    "id",
                    "inputFields",
                    "labels",
                    "objectTypes",
                    "published",
                    "revisionId"
                  ],
                  "type": "object",
                  "properties": {
                    "functions": {
                      "type": "array",
                      "items": {
                        "required": [
                          "functionType"
                        ],
                        "type": "object",
                        "properties": {
                          "functionType": {
                            "type": "string",
                            "enum": [
                              "PRE_ACTION_EXECUTION",
                              "PRE_FETCH_OPTIONS",
                              "POST_FETCH_OPTIONS",
                              "POST_ACTION_EXECUTION"
                            ]
                          },
                          "id": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "actionUrl": {
                      "type": "string"
                    },
                    "published": {
                      "type": "boolean"
                    },
                    "labels": {
                      "type": "object",
                      "additionalProperties": {
                        "required": [
                          "actionName"
                        ],
                        "type": "object",
                        "properties": {
                          "inputFieldDescriptions": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "string"
                            }
                          },
                          "appDisplayName": {
                            "type": "string"
                          },
                          "outputFieldLabels": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "string"
                            }
                          },
                          "inputFieldOptionLabels": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "string"
                              }
                            }
                          },
                          "actionDescription": {
                            "type": "string"
                          },
                          "executionRules": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "string"
                            }
                          },
                          "inputFieldLabels": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "string"
                            }
                          },
                          "actionName": {
                            "type": "string"
                          },
                          "actionCardContent": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "inputFields": {
                      "type": "array",
                      "items": {
                        "required": [
                          "isRequired",
                          "typeDefinition"
                        ],
                        "type": "object",
                        "properties": {
                          "isRequired": {
                            "type": "boolean"
                          },
                          "automationFieldType": {
                            "type": "string"
                          },
                          "typeDefinition": {
                            "required": [
                              "externalOptions",
                              "name",
                              "options",
                              "type"
                            ],
                            "type": "object",
                            "properties": {
                              "helpText": {
                                "type": "string"
                              },
                              "referencedObjectType": {
                                "type": "string",
                                "enum": [
                                  "CONTACT",
                                  "COMPANY",
                                  "DEAL",
                                  "ENGAGEMENT",
                                  "TICKET",
                                  "OWNER",
                                  "PRODUCT",
                                  "LINE_ITEM",
                                  "BET_DELIVERABLE_SERVICE",
                                  "CONTENT",
                                  "CONVERSATION",
                                  "BET_ALERT",
                                  "PORTAL",
                                  "QUOTE",
                                  "FORM_SUBMISSION_INBOUNDDB",
                                  "QUOTA",
                                  "UNSUBSCRIBE",
                                  "COMMUNICATION",
                                  "FEEDBACK_SUBMISSION",
                                  "ATTRIBUTION",
                                  "SALESFORCE_SYNC_ERROR",
                                  "RESTORABLE_CRM_OBJECT",
                                  "HUB",
                                  "LANDING_PAGE",
                                  "PRODUCT_OR_FOLDER",
                                  "TASK",
                                  "FORM",
                                  "MARKETING_EMAIL",
                                  "AD_ACCOUNT",
                                  "AD_CAMPAIGN",
                                  "AD_GROUP",
                                  "AD",
                                  "KEYWORD",
                                  "CAMPAIGN",
                                  "SOCIAL_CHANNEL",
                                  "SOCIAL_POST",
                                  "SITE_PAGE",
                                  "BLOG_POST",
                                  "IMPORT",
                                  "EXPORT",
                                  "CTA",
                                  "TASK_TEMPLATE",
                                  "AUTOMATION_PLATFORM_FLOW",
                                  "OBJECT_LIST",
                                  "NOTE",
                                  "MEETING_EVENT",
                                  "CALL",
                                  "EMAIL",
                                  "PUBLISHING_TASK",
                                  "CONVERSATION_SESSION",
                                  "CONTACT_CREATE_ATTRIBUTION",
                                  "INVOICE",
                                  "MARKETING_EVENT",
                                  "CONVERSATION_INBOX",
                                  "CHATFLOW",
                                  "MEDIA_BRIDGE",
                                  "SEQUENCE",
                                  "SEQUENCE_STEP",
                                  "FORECAST",
                                  "SNIPPET",
                                  "TEMPLATE",
                                  "DEAL_CREATE_ATTRIBUTION",
                                  "QUOTE_TEMPLATE",
                                  "QUOTE_MODULE",
                                  "QUOTE_MODULE_FIELD",
                                  "QUOTE_FIELD",
                                  "SEQUENCE_ENROLLMENT",
                                  "SUBSCRIPTION",
                                  "ACCEPTANCE_TEST",
                                  "SOCIAL_BROADCAST",
                                  "DEAL_SPLIT",
                                  "DEAL_REGISTRATION",
                                  "GOAL_TARGET",
                                  "GOAL_TARGET_GROUP",
                                  "PORTAL_OBJECT_SYNC_MESSAGE",
                                  "FILE_MANAGER_FILE",
                                  "FILE_MANAGER_FOLDER",
                                  "SEQUENCE_STEP_ENROLLMENT",
                                  "APPROVAL",
                                  "APPROVAL_STEP",
                                  "CTA_VARIANT",
                                  "SALES_DOCUMENT",
                                  "DISCOUNT",
                                  "FEE",
                                  "TAX",
                                  "MARKETING_CALENDAR",
                                  "PERMISSIONS_TESTING",
                                  "PRIVACY_SCANNER_COOKIE",
                                  "DATA_SYNC_STATE",
                                  "WEB_INTERACTIVE",
                                  "PLAYBOOK",
                                  "FOLDER",
                                  "PLAYBOOK_QUESTION",
                                  "PLAYBOOK_SUBMISSION",
                                  "PLAYBOOK_SUBMISSION_ANSWER",
                                  "COMMERCE_PAYMENT",
                                  "GSC_PROPERTY",
                                  "SOX_PROTECTED_DUMMY_TYPE",
                                  "BLOG_LISTING_PAGE",
                                  "QUARANTINED_SUBMISSION",
                                  "PAYMENT_SCHEDULE",
                                  "PAYMENT_SCHEDULE_INSTALLMENT",
                                  "MARKETING_CAMPAIGN_UTM",
                                  "DISCOUNT_TEMPLATE",
                                  "DISCOUNT_CODE",
                                  "FEEDBACK_SURVEY",
                                  "CMS_URL",
                                  "SALES_TASK",
                                  "SALES_WORKLOAD",
                                  "USER",
                                  "POSTAL_MAIL",
                                  "SCHEMAS_BACKEND_TEST",
                                  "PAYMENT_LINK",
                                  "SUBMISSION_TAG",
                                  "CAMPAIGN_STEP",
                                  "SCHEDULING_PAGE",
                                  "SOX_PROTECTED_TEST_TYPE",
                                  "ORDER",
                                  "MARKETING_SMS",
                                  "PARTNER_ACCOUNT",
                                  "CAMPAIGN_TEMPLATE",
                                  "CAMPAIGN_TEMPLATE_STEP",
                                  "PLAYLIST",
                                  "CLIP",
                                  "CAMPAIGN_BUDGET_ITEM",
                                  "CAMPAIGN_SPEND_ITEM",
                                  "MIC",
                                  "CONTENT_AUDIT",
                                  "CONTENT_AUDIT_PAGE",
                                  "PLAYLIST_FOLDER",
                                  "LEAD",
                                  "ABANDONED_CART",
                                  "EXTERNAL_WEB_URL",
                                  "VIEW",
                                  "VIEW_BLOCK",
                                  "ROSTER",
                                  "CART",
                                  "AUTOMATION_PLATFORM_FLOW_ACTION",
                                  "SOCIAL_PROFILE",
                                  "PARTNER_CLIENT",
                                  "ROSTER_MEMBER",
                                  "MARKETING_EVENT_ATTENDANCE",
                                  "ALL_PAGES",
                                  "AI_FORECAST",
                                  "CRM_PIPELINES_DUMMY_TYPE",
                                  "KNOWLEDGE_ARTICLE",
                                  "PROPERTY_INFO",
                                  "DATA_PRIVACY_CONSENT",
                                  "GOAL_TEMPLATE",
                                  "SCORE_CONFIGURATION",
                                  "AUDIENCE",
                                  "PARTNER_CLIENT_REVENUE",
                                  "AUTOMATION_JOURNEY",
                                  "UNKNOWN"
                                ]
                              },
                              "name": {
                                "type": "string"
                              },
                              "options": {
                                "type": "array",
                                "items": {
                                  "required": [
                                    "description",
                                    "displayOrder",
                                    "doubleData",
                                    "hidden",
                                    "label",
                                    "readOnly",
                                    "value"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "hidden": {
                                      "type": "boolean",
                                      "description": "Whether the option is displayed in HubSpot's UI.",
                                      "example": false
                                    },
                                    "displayOrder": {
                                      "type": "integer",
                                      "description": "The position of the item relative to others in the list.",
                                      "format": "int32"
                                    },
                                    "doubleData": {
                                      "type": "number"
                                    },
                                    "description": {
                                      "type": "string",
                                      "description": "A description of the option.",
                                      "example": ""
                                    },
                                    "readOnly": {
                                      "type": "boolean",
                                      "description": "Whether the option is read-only.",
                                      "example": false
                                    },
                                    "label": {
                                      "type": "string",
                                      "description": "A user-friendly label that identifies the option.",
                                      "example": ""
[...]
