{
  "openapi": "3.1.0",
  "info": {
    "version": "1.2.0",
    "title": "Exa Search API",
    "description": "A comprehensive API for internet-scale search, allowing users to perform queries and retrieve results from a wide variety of sources using embeddings-based and traditional search.",
    "x-moar-merged": true,
    "x-moar-merged-count": 2
  },
  "servers": [
    {
      "url": "https://api.exa.ai"
    },
    {
      "url": "https://api.exa.ai/websets/",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apikey": []
    }
  ],
  "paths": {
    "/search": {
      "post": {
        "operationId": "search",
        "summary": "Search",
        "description": "Perform a search with a Exa prompt-engineered query and retrieve a list of relevant results. Optionally get contents.",
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "Simple search and contents",
            "source": "curl -X POST 'https://api.exa.ai/search' \\\n  -H 'x-api-key: YOUR-EXA-API-KEY' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"query\": \"Latest research in LLMs\",\n    \"text\": true\n  }'\n"
          },
          {
            "lang": "python",
            "label": "Simple search and contents",
            "source": "# pip install exa-py\nfrom exa_py import Exa\nexa = Exa('YOUR_EXA_API_KEY')\n\nresults = exa.search_and_contents(\n    \"Latest research in LLMs\", \n    text=True\n)\n\nprint(results)\n"
          },
          {
            "lang": "javascript",
            "label": "Simple search and contents",
            "source": "// npm install exa-js\nimport Exa from 'exa-js';\nconst exa = new Exa('YOUR_EXA_API_KEY');\n\nconst results = await exa.searchAndContents(\n    'Latest research in LLMs', \n    { text: true }\n);\n\nconsole.log(results);\n"
          },
          {
            "lang": "php",
            "label": "Simple search and contents",
            "source": ""
          },
          {
            "lang": "go",
            "label": "Simple search and contents",
            "source": ""
          },
          {
            "lang": "java",
            "label": "Simple search and contents",
            "source": ""
          },
          {
            "lang": "bash",
            "label": "Advanced search with filters",
            "source": "curl --request POST \\\n  --url https://api.exa.ai/search \\\n  --header 'x-api-key: <token>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n  \"query\": \"Latest research in LLMs\",\n  \"type\": \"auto\",\n  \"category\": \"research paper\",\n  \"numResults\": 10,\n  \"contents\": {\n    \"text\": true,\n    \"summary\": {\n      \"query\": \"Main developments\"\n    },\n    \"subpages\": 1,\n    \"subpageTarget\": \"sources\",\n    \"extras\": {\n      \"links\": 1,\n      \"imageLinks\": 1\n    }\n  }\n}'\n"
          },
          {
            "lang": "python",
            "label": "Advanced search with filters",
            "source": "# pip install exa-py\nfrom exa_py import Exa\nexa = Exa('YOUR_EXA_API_KEY')\n\nresults = exa.search_and_contents(\n    \"Latest research in LLMs\",\n    type=\"auto\",\n    category=\"research paper\",\n    num_results=10,\n    text=True,\n    summary={\n        \"query\": \"Main developments\"\n    },\n    subpages=1,\n    subpage_target=\"sources\",\n    extras={\n        \"links\": 1,\n        \"image_links\": 1\n    }\n)\n\nprint(results)\n"
          },
          {
            "lang": "javascript",
            "label": "Advanced search with filters",
            "source": "// npm install exa-js\nimport Exa from 'exa-js';\nconst exa = new Exa('YOUR_EXA_API_KEY');\n\nconst results = await exa.searchAndContents('Latest research in LLMs', {\n    type: 'auto',\n    category: 'research paper',\n    numResults: 10,\n    contents: {\n        text: true,\n        summary: {\n            query: 'Main developments'\n        },\n        subpages: 1,\n        subpageTarget: 'sources',\n        extras: {\n            links: 1,\n            imageLinks: 1\n        }\n    }\n});\n\nconsole.log(results);\n"
          },
          {
            "lang": "php",
            "label": "Advanced search with filters",
            "source": ""
          },
          {
            "lang": "go",
            "label": "Advanced search with filters",
            "source": ""
          },
          {
            "lang": "java",
            "label": "Advanced search with filters",
            "source": ""
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "query": {
                        "type": "string",
                        "example": "Latest developments in LLM capabilities",
                        "description": "The query string for the search."
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "keyword",
                          "neural",
                          "fast",
                          "auto"
                        ],
                        "description": "The type of search. Neural uses an embeddings-based model, keyword is google-like SERP, and auto (default) intelligently combines the two. Fast uses streamlined versions of the neural and keyword models.",
                        "example": "auto",
                        "default": "auto"
                      },
                      "category": {
                        "type": "string",
                        "enum": [
                          "company",
                          "research paper",
                          "news",
                          "pdf",
                          "github",
                          "tweet",
                          "personal site",
                          "linkedin profile",
                          "financial report"
                        ],
                        "description": "A data category to focus on.",
                        "example": "research paper"
                      },
                      "userLocation": {
                        "type": "string",
                        "description": "The two-letter ISO country code of the user, e.g. US.",
                        "example": "US"
                      }
                    },
                    "required": [
                      "query"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "numResults": {
                        "type": "integer",
                        "maximum": 100,
                        "default": 10,
                        "minimum": 1,
                        "description": "Number of results to return (up to thousands of results available for custom plans)",
                        "example": 10
                      },
                      "includeDomains": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "List of domains to include in the search. If specified, results will only come from these domains.",
                        "example": [
                          "arxiv.org",
                          "paperswithcode.com"
                        ]
                      },
                      "excludeDomains": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "List of domains to exclude from search results. If specified, no results will be returned from these domains."
                      },
                      "startCrawlDate": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Crawl date refers to the date that Exa discovered a link. Results will include links that were crawled after this date. Must be specified in ISO 8601 format.",
                        "example": "2023-01-01"
                      },
                      "endCrawlDate": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Crawl date refers to the date that Exa discovered a link. Results will include links that were crawled before this date. Must be specified in ISO 8601 format.",
                        "example": "2023-12-31"
                      },
                      "startPublishedDate": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Only links with a published date after this will be returned. Must be specified in ISO 8601 format.",
                        "example": "2023-01-01"
                      },
                      "endPublishedDate": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Only links with a published date before this will be returned. Must be specified in ISO 8601 format.",
                        "example": "2023-12-31"
                      },
                      "includeText": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "List of strings that must be present in webpage text of results. Currently, only 1 string is supported, of up to 5 words.",
                        "example": [
                          "large language model"
                        ]
                      },
                      "excludeText": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "List of strings that must not be present in webpage text of results. Currently, only 1 string is supported, of up to 5 words. Checks from the first 1000 words of the webpage text.",
                        "example": [
                          "course"
                        ]
                      },
                      "context": {
                        "oneOf": [
                          {
                            "type": "boolean",
                            "description": "Return page contents as a context string for LLM. When true, combines all result contents into one string. Context strings often perform better than highlights for LLMs.",
                            "example": true
                          },
                          {
                            "type": "object",
                            "description": "Return page contents as a context string for LLM. When true, combines all result contents into one string. Context strings often perform better than highlights for LLMs.",
                            "properties": {
                              "maxCharacters": {
                                "type": "integer",
                                "description": "Maximum character limit.",
                                "example": 10000
                              }
                            }
                          }
                        ]
                      },
                      "contents": {
                        "type": "object",
                        "properties": {
                          "text": {
                            "oneOf": [
                              {
                                "type": "boolean",
                                "title": "Simple text retrieval",
                                "description": "If true, returns full page text with default settings. If false, disables text return."
                              },
                              {
                                "type": "object",
                                "title": "Advanced text options",
                                "description": "Advanced options for controlling text extraction. Use this when you need to limit text length or include HTML structure.",
                                "properties": {
                                  "maxCharacters": {
                                    "type": "integer",
                                    "description": "Maximum character limit for the full page text. Useful for controlling response size and API costs.",
                                    "example": 1000
                                  },
                                  "includeHtmlTags": {
                                    "type": "boolean",
                                    "default": false,
                                    "description": "Include HTML tags in the response, which can help LLMs understand text structure and formatting.",
                                    "example": false
                                  }
                                }
                              }
                            ]
                          },
                          "highlights": {
                            "type": "object",
                            "description": "Text snippets the LLM identifies as most relevant from each page. We recommend you using context instead of highlights for LLMs.",
                            "properties": {
                              "numSentences": {
                                "type": "integer",
                                "minimum": 1,
                                "description": "The number of sentences to return for each snippet.",
                                "example": 1
                              },
                              "highlightsPerUrl": {
                                "type": "integer",
                                "minimum": 1,
                                "description": "The number of snippets to return for each result.",
                                "example": 1
                              },
                              "query": {
                                "type": "string",
                                "description": "Custom query to direct the LLM's selection of highlights.",
                                "example": "Key advancements"
                              }
                            }
                          },
                          "summary": {
                            "type": "object",
                            "description": "Summary of the webpage",
                            "properties": {
                              "query": {
                                "type": "string",
                                "description": "Custom query for the LLM-generated summary.",
                                "example": "Main developments"
                              },
                              "schema": {
                                "type": "object",
                                "description": "JSON schema for structured output from summary. \nSee https://json-schema.org/overview/what-is-jsonschema for JSON Schema documentation.\n",
                                "example": {
                                  "$schema": "http://json-schema.org/draft-07/schema#",
                                  "title": "Title",
                                  "type": "object",
                                  "properties": {
                                    "Property 1": {
                                      "type": "string",
                                      "description": "Description"
                                    },
                                    "Property 2": {
                                      "type": "string",
                                      "enum": [
                                        "option 1",
                                        "option 2",
                                        "option 3"
                                      ],
                                      "description": "Description"
                                    }
                                  },
                                  "required": [
                                    "Property 1"
                                  ]
                                }
                              }
                            }
                          },
                          "livecrawl": {
                            "type": "string",
                            "enum": [
                              "never",
                              "fallback",
                              "always",
                              "preferred"
                            ],
                            "description": "Options for livecrawling pages.\n'never': Disable livecrawling (default for neural search).\n'fallback': Livecrawl when cache is empty (default for keyword search).\n'always': Always livecrawl.\n'preferred': Always try to livecrawl, but fall back to cache if crawling fails.\n",
                            "example": "always"
                          },
                          "livecrawlTimeout": {
                            "type": "integer",
                            "default": 10000,
                            "description": "The timeout for livecrawling in milliseconds.",
                            "example": 1000
                          },
                          "subpages": {
                            "type": "integer",
                            "default": 0,
                            "description": "The number of subpages to crawl. The actual number crawled may be limited by system constraints.",
                            "example": 1
                          },
                          "subpageTarget": {
                            "oneOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            ],
                            "description": "Keyword to find specific subpages of search results. Can be a single string or an array of strings, comma delimited.",
                            "example": "sources"
                          },
                          "extras": {
                            "type": "object",
                            "description": "Extra parameters to pass.",
                            "properties": {
                              "links": {
                                "type": "integer",
                                "default": 0,
                                "description": "Number of URLs to return from each webpage.",
                                "example": 1
                              },
                              "imageLinks": {
                                "type": "integer",
                                "default": 0,
                                "description": "Number of images to return for each result.",
                                "example": 1
                              }
                            }
                          },
                          "context": {
                            "oneOf": [
                              {
                                "type": "boolean",
                                "description": "Return page contents as a context string for LLM. When true, combines all result contents into one string. Context strings often perform better than highlights for LLMs.",
                                "example": true
                              },
                              {
                                "type": "object",
                                "description": "Return page contents as a context string for LLM. When true, combines all result contents into one string. Context strings often perform better than highlights for LLMs.",
                                "properties": {
                                  "maxCharacters": {
                                    "type": "integer",
                                    "description": "Maximum character limit.",
                                    "example": 10000
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SearchResponse"
          }
        },
        "x-moar-original-servers": [
          {
            "url": "https://api.exa.ai"
          }
        ],
        "x-moar-primitive-count": 31,
        "x-moar-complexity-skipped": false
      }
    },
    "/findSimilar": {
      "post": {
        "operationId": "findSimilar",
        "summary": "Find similar links",
        "description": "Find similar links to the link provided. Optionally get contents.",
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "Find similar links",
            "source": "curl -X POST 'https://api.exa.ai/findSimilar' \\\n  -H 'x-api-key: YOUR-EXA-API-KEY' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"url\": \"https://arxiv.org/abs/2307.06435\",\n    \"text\": true\n  }'\n"
          },
          {
            "lang": "python",
            "label": "Find similar links",
            "source": "# pip install exa-py\nfrom exa_py import Exa\nexa = Exa('YOUR_EXA_API_KEY')\n\nresults = exa.find_similar_and_contents(\n    url=\"https://arxiv.org/abs/2307.06435\",\n    text=True\n)\n\nprint(results)\n"
          },
          {
            "lang": "javascript",
            "label": "Find similar links",
            "source": "// npm install exa-js\nimport Exa from 'exa-js';\nconst exa = new Exa('YOUR_EXA_API_KEY');\n\nconst results = await exa.findSimilarAndContents(\n    'https://arxiv.org/abs/2307.06435',\n    { text: true }\n);\n\nconsole.log(results);\n"
          },
          {
            "lang": "php",
            "label": "Find similar links",
            "source": ""
          },
          {
            "lang": "go",
            "label": "Find similar links",
            "source": ""
          },
          {
            "lang": "java",
            "label": "Find similar links",
            "source": ""
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "example": "https://arxiv.org/abs/2307.06435",
                        "description": "The url for which you would like to find similar links."
                      }
                    },
                    "required": [
                      "url"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "numResults": {
                        "type": "integer",
                        "maximum": 100,
                        "default": 10,
                        "minimum": 1,
                        "description": "Number of results to return (up to thousands of results available for custom plans)",
                        "example": 10
                      },
                      "includeDomains": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "List of domains to include in the search. If specified, results will only come from these domains.",
                        "example": [
                          "arxiv.org",
                          "paperswithcode.com"
                        ]
                      },
                      "excludeDomains": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "List of domains to exclude from search results. If specified, no results will be returned from these domains."
                      },
                      "startCrawlDate": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Crawl date refers to the date that Exa discovered a link. Results will include links that were crawled after this date. Must be specified in ISO 8601 format.",
                        "example": "2023-01-01"
                      },
                      "endCrawlDate": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Crawl date refers to the date that Exa discovered a link. Results will include links that were crawled before this date. Must be specified in ISO 8601 format.",
                        "example": "2023-12-31"
                      },
                      "startPublishedDate": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Only links with a published date after this will be returned. Must be specified in ISO 8601 format.",
                        "example": "2023-01-01"
                      },
                      "endPublishedDate": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Only links with a published date before this will be returned. Must be specified in ISO 8601 format.",
                        "example": "2023-12-31"
                      },
                      "includeText": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "List of strings that must be present in webpage text of results. Currently, only 1 string is supported, of up to 5 words.",
                        "example": [
                          "large language model"
                        ]
                      },
                      "excludeText": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "List of strings that must not be present in webpage text of results. Currently, only 1 string is supported, of up to 5 words. Checks from the first 1000 words of the webpage text.",
                        "example": [
                          "course"
                        ]
                      },
                      "context": {
                        "oneOf": [
                          {
                            "type": "boolean",
                            "description": "Return page contents as a context string for LLM. When true, combines all result contents into one string. Context strings often perform better than highlights for LLMs.",
                            "example": true
                          },
                          {
                            "type": "object",
                            "description": "Return page contents as a context string for LLM. When true, combines all result contents into one string. Context strings often perform better than highlights for LLMs.",
                            "properties": {
                              "maxCharacters": {
                                "type": "integer",
                                "description": "Maximum character limit.",
                                "example": 10000
                              }
                            }
                          }
                        ]
                      },
                      "contents": {
                        "type": "object",
                        "properties": {
                          "text": {
                            "oneOf": [
                              {
                                "type": "boolean",
                                "title": "Simple text retrieval",
                                "description": "If true, returns full page text with default settings. If false, disables text return."
                              },
                              {
                                "type": "object",
                                "title": "Advanced text options",
                                "description": "Advanced options for controlling text extraction. Use this when you need to limit text length or include HTML structure.",
                                "properties": {
                                  "maxCharacters": {
                                    "type": "integer",
                                    "description": "Maximum character limit for the full page text. Useful for controlling response size and API costs.",
                                    "example": 1000
                                  },
                                  "includeHtmlTags": {
                                    "type": "boolean",
                                    "default": false,
                                    "description": "Include HTML tags in the response, which can help LLMs understand text structure and formatting.",
                                    "example": false
                                  }
                                }
                              }
                            ]
                          },
                          "highlights": {
                            "type": "object",
                            "description": "Text snippets the LLM identifies as most relevant from each page. We recommend you using context instead of highlights for LLMs.",
                            "properties": {
                              "numSentences": {
                                "type": "integer",
                                "minimum": 1,
                                "description": "The number of sentences to return for each snippet.",
                                "example": 1
                              },
                              "highlightsPerUrl": {
                                "type": "integer",
                                "minimum": 1,
                                "description": "The number of snippets to return for each result.",
                                "example": 1
                              },
                              "query": {
                                "type": "string",
                                "description": "Custom query to direct the LLM's selection of highlights.",
                                "example": "Key advancements"
                              }
                            }
                          },
                          "summary": {
                            "type": "object",
                            "description": "Summary of the webpage",
                            "properties": {
                              "query": {
                                "type": "string",
                                "description": "Custom query for the LLM-generated summary.",
                                "example": "Main developments"
                              },
                              "schema": {
                                "type": "object",
                                "description": "JSON schema for structured output from summary. \nSee https://json-schema.org/overview/what-is-jsonschema for JSON Schema documentation.\n",
                                "example": {
                                  "$schema": "http://json-schema.org/draft-07/schema#",
                                  "title": "Title",
                                  "type": "object",
                                  "properties": {
                                    "Property 1": {
                                      "type": "string",
                                      "description": "Description"
                                    },
                                    "Property 2": {
                                      "type": "string",
                                      "enum": [
                                        "option 1",
                                        "option 2",
                                        "option 3"
                                      ],
                                      "description": "Description"
                                    }
                                  },
                                  "required": [
                                    "Property 1"
                                  ]
                                }
                              }
                            }
                          },
                          "livecrawl": {
                            "type": "string",
                            "enum": [
                              "never",
                              "fallback",
                              "always",
                              "preferred"
                            ],
                            "description": "Options for livecrawling pages.\n'never': Disable livecrawling (default for neural search).\n'fallback': Livecrawl when cache is empty (default for keyword search).\n'always': Always livecrawl.\n'preferred': Always try to livecrawl, but fall back to cache if crawling fails.\n",
                            "example": "always"
                          },
                          "livecrawlTimeout": {
                            "type": "integer",
                            "default": 10000,
                            "description": "The timeout for livecrawling in milliseconds.",
                            "example": 1000
                          },
                          "subpages": {
                            "type": "integer",
                            "default": 0,
                            "description": "The number of subpages to crawl. The actual number crawled may be limited by system constraints.",
                            "example": 1
                          },
                          "subpageTarget": {
                            "oneOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            ],
                            "description": "Keyword to find specific subpages of search results. Can be a single string or an array of strings, comma delimited.",
                            "example": "sources"
                          },
                          "extras": {
                            "type": "object",
                            "description": "Extra parameters to pass.",
                            "properties": {
                              "links": {
                                "type": "integer",
                                "default": 0,
                                "description": "Number of URLs to return from each webpage.",
                                "example": 1
                              },
                              "imageLinks": {
                                "type": "integer",
                                "default": 0,
                                "description": "Number of images to return for each result.",
                                "example": 1
                              }
                            }
                          },
                          "context": {
                            "oneOf": [
                              {
                                "type": "boolean",
                                "description": "Return page contents as a context string for LLM. When true, combines all result contents into one string. Context strings often perform better than highlights for LLMs.",
                                "example": true
                              },
                              {
                                "type": "object",
                                "description": "Return page contents as a context string for LLM. When true, combines all result contents into one string. Context strings often perform better than highlights for LLMs.",
                                "properties": {
                                  "maxCharacters": {
                                    "type": "integer",
                                    "description": "Maximum character limit.",
                                    "example": 10000
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/FindSimilarResponse"
          }
        },
        "x-moar-original-servers": [
          {
            "url": "https://api.exa.ai"
          }
        ],
        "x-moar-primitive-count": 28,
        "x-moar-complexity-skipped": false
      }
    },
    "/contents": {
      "post": {
        "summary": "Get Contents",
        "operationId": "getContents",
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "Simple contents retrieval",
            "source": "curl -X POST 'https://api.exa.ai/contents' \\\n  -H 'x-api-key: YOUR-EXA-API-KEY' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"urls\": [\"https://arxiv.org/abs/2307.06435\"],\n    \"text\": true\n  }'\n"
          },
          {
            "lang": "python",
            "label": "Simple contents retrieval",
            "source": "# pip install exa-py\nfrom exa_py import Exa\nexa = Exa('YOUR_EXA_API_KEY')\n\nresults = exa.get_contents(\n    urls=[\"https://arxiv.org/abs/2307.06435\"],\n    text=True\n)\n\nprint(results)\n"
          },
          {
            "lang": "javascript",
            "label": "Simple contents retrieval",
            "source": "// npm install exa-js\nimport Exa from 'exa-js';\nconst exa = new Exa('YOUR_EXA_API_KEY');\n\nconst results = await exa.getContents(\n    [\"https://arxiv.org/abs/2307.06435\"],\n    { text: true }\n);\n\nconsole.log(results);\n"
          },
          {
            "lang": "php",
            "label": "Simple contents retrieval",
            "source": ""
          },
          {
            "lang": "go",
            "label": "Simple contents retrieval",
            "source": ""
          },
          {
            "lang": "java",
            "label": "Simple contents retrieval",
            "source": ""
          },
          {
            "lang": "bash",
            "label": "Advanced contents retrieval",
            "source": "curl --request POST \\\n  --url https://api.exa.ai/contents \\\n  --header 'x-api-key: YOUR-EXA-API-KEY' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"urls\": [\"https://arxiv.org/abs/2307.06435\"],\n    \"text\": {\n      \"maxCharacters\": 1000,\n      \"includeHtmlTags\": false\n    },\n    \"highlights\": {\n      \"numSentences\": 3,\n      \"highlightsPerUrl\": 2,\n      \"query\": \"Key findings\"\n    },\n    \"summary\": {\n      \"query\": \"Main research contributions\"\n    },\n    \"subpages\": 1,\n    \"subpageTarget\": \"references\",\n    \"extras\": {\n      \"links\": 2,\n      \"imageLinks\": 1\n    }\n  }'\n"
          },
          {
            "lang": "python",
            "label": "Advanced contents retrieval",
            "source": "# pip install exa-py\nfrom exa_py import Exa\nexa = Exa('YOUR_EXA_API_KEY')\n\nresults = exa.get_contents(\n    urls=[\"https://arxiv.org/abs/2307.06435\"],\n    text={\n        \"maxCharacters\": 1000,\n        \"includeHtmlTags\": False\n    },\n    highlights={\n        \"numSentences\": 3,\n        \"highlightsPerUrl\": 2,\n        \"query\": \"Key findings\"\n    },\n    summary={\n        \"query\": \"Main research contributions\"\n    },\n    subpages=1,\n    subpage_target=\"references\",\n    extras={\n        \"links\": 2,\n        \"image_links\": 1\n    }\n)\n\nprint(results)\n"
          },
          {
            "lang": "javascript",
            "label": "Advanced contents retrieval",
            "source": "// npm install exa-js\nimport Exa from 'exa-js';\nconst exa = new Exa('YOUR_EXA_API_KEY');\n\nconst results = await exa.getContents(\n    [\"https://arxiv.org/abs/2307.06435\"],\n    {\n        text: {\n            maxCharacters: 1000,\n            includeHtmlTags: false\n        },\n        highlights: {\n            numSentences: 3,\n            highlightsPerUrl: 2,\n            query: \"Key findings\"\n        },\n        summary: {\n            query: \"Main research contributions\"\n        },\n        subpages: 1,\n        subpageTarget: \"references\",\n        extras: {\n            links: 2,\n            imageLinks: 1\n        }\n    }\n);\n\nconsole.log(results);\n"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "urls": {
                        "type": "array",
                        "description": "Array of URLs to crawl (backwards compatible with 'ids' parameter).",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "https://arxiv.org/pdf/2307.06435"
                        ]
                      },
                      "ids": {
                        "type": "array",
                        "deprecated": true,
                        "description": "Deprecated - use 'urls' instead. Array of document IDs obtained from searches.",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "https://arxiv.org/pdf/2307.06435"
                        ]
                      }
                    },
                    "required": [
                      "urls"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "text": {
                        "oneOf": [
                          {
                            "type": "boolean",
                            "title": "Simple text retrieval",
                            "description": "If true, returns full page text with default settings. If false, disables text return."
                          },
                          {
                            "type": "object",
                            "title": "Advanced text options",
                            "description": "Advanced options for controlling text extraction. Use this when you need to limit text length or include HTML structure.",
                            "properties": {
                              "maxCharacters": {
                                "type": "integer",
                                "description": "Maximum character limit for the full page text. Useful for controlling response size and API costs.",
                                "example": 1000
                              },
                              "includeHtmlTags": {
                                "type": "boolean",
                                "default": false,
                                "description": "Include HTML tags in the response, which can help LLMs understand text structure and formatting.",
                                "example": false
                              }
                            }
                          }
                        ]
                      },
                      "highlights": {
                        "type": "object",
                        "description": "Text snippets the LLM identifies as most relevant from each page. We recommend you using context instead of highlights for LLMs.",
                        "properties": {
                          "numSentences": {
                            "type": "integer",
                            "minimum": 1,
                            "description": "The number of sentences to return for each snippet.",
                            "example": 1
                          },
                          "highlightsPerUrl": {
                            "type": "integer",
                            "minimum": 1,
                            "description": "The number of snippets to return for each result.",
                            "example": 1
                          },
                          "query": {
                            "type": "string",
                            "description": "Custom query to direct the LLM's selection of highlights.",
                            "example": "Key advancements"
                          }
                        }
                      },
                      "summary": {
                        "type": "object",
                        "description": "Summary of the webpage",
                        "properties": {
                          "query": {
                            "type": "string",
                            "description": "Custom query for the LLM-generated summary.",
                            "example": "Main developments"
                          },
                          "schema": {
                            "type": "object",
                            "description": "JSON schema for structured output from summary. \nSee https://json-schema.org/overview/what-is-jsonschema for JSON Schema documentation.\n",
                            "example": {
                              "$schema": "http://json-schema.org/draft-07/schema#",
                              "title": "Title",
                              "type": "object",
                              "properties": {
                                "Property 1": {
                                  "type": "string",
                                  "description": "Description"
                                },
                                "Property 2": {
                                  "type": "string",
                                  "enum": [
                                    "option 1",
                                    "option 2",
                                    "option 3"
                                  ],
                                  "description": "Description"
                                }
                              },
                              "required": [
                                "Property 1"
                              ]
                            }
                          }
                        }
                      },
                      "livecrawl": {
                        "type": "string",
                        "enum": [
                          "never",
                          "fallback",
                          "always",
                          "preferred"
                        ],
                        "description": "Options for livecrawling pages.\n'never': Disable livecrawling (default for neural search).\n'fallback': Livecrawl when cache is empty (default for keyword search).\n'always': Always livecrawl.\n'preferred': Always try to livecrawl, but fall back to cache if crawling fails.\n",
                        "example": "always"
                      },
                      "livecrawlTimeout": {
                        "type": "integer",
                        "default": 10000,
                        "description": "The timeout for livecrawling in milliseconds.",
                        "example": 1000
                      },
                      "subpages": {
                        "type": "integer",
                        "default": 0,
                        "description": "The number of subpages to crawl. The actual number crawled may be limited by system constraints.",
                        "example": 1
                      },
                      "subpageTarget": {
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        ],
                        "description": "Keyword to find specific subpages of search results. Can be a single string or an array of strings, comma delimited.",
                        "example": "sources"
                      },
                      "extras": {
                        "type": "object",
                        "description": "Extra parameters to pass.",
                        "properties": {
                          "links": {
                            "type": "integer",
                            "default": 0,
                            "description": "Number of URLs to return from each webpage.",
                            "example": 1
                          },
                          "imageLinks": {
                            "type": "integer",
                            "default": 0,
                            "description": "Number of images to return for each result.",
                            "example": 1
                          }
                        }
                      },
                      "context": {
                        "oneOf": [
                          {
                            "type": "boolean",
                            "description": "Return page contents as a context string for LLM. When true, combines all result contents into one string. Context strings often perform better than highlights for LLMs.",
                            "example": true
                          },
                          {
                            "type": "object",
                            "description": "Return page contents as a context string for LLM. When true, combines all result contents into one string. Context strings often perform better than highlights for LLMs.",
                            "properties": {
                              "maxCharacters": {
                                "type": "integer",
                                "description": "Maximum character limit.",
                                "example": 10000
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ContentsResponse"
          }
        },
        "x-moar-original-servers": [
          {
            "url": "https://api.exa.ai"
          }
        ],
        "x-moar-primitive-count": 18,
        "x-moar-complexity-skipped": false
      }
    },
    "/answer": {
      "post": {
        "operationId": "answer",
        "summary": "Generate an answer from search results",
        "description": "Performs a search based on the query and generates either a direct answer or a detailed summary with citations, depending on the query type.\n",
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "Simple answer",
            "source": "curl -X POST 'https://api.exa.ai/answer' \\\n  -H 'x-api-key: YOUR-EXA-API-KEY' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"query\": \"What is the latest valuation of SpaceX?\",\n    \"text\": true\n  }'\n"
          },
          {
            "lang": "python",
            "label": "Simple answer",
            "source": "# pip install exa-py\nfrom exa_py import Exa\nexa = Exa('YOUR_EXA_API_KEY')\n\nresult = exa.answer(\n    \"What is the latest valuation of SpaceX?\",\n    text=True\n)\n\nprint(result)\n"
          },
          {
            "lang": "javascript",
            "label": "Simple answer",
            "source": "// npm install exa-js\nimport Exa from 'exa-js';\nconst exa = new Exa('YOUR_EXA_API_KEY');\n\nconst result = await exa.answer(\n    'What is the latest valuation of SpaceX?',\n    { text: true }\n);\n\nconsole.log(result);\n"
          },
          {
            "lang": "php",
            "label": "Simple answer",
            "source": ""
          },
          {
            "lang": "go",
            "label": "Simple answer",
            "source": ""
          },
          {
            "lang": "java",
            "label": "Simple answer",
            "source": ""
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "The question or query to answer.",
                    "example": "What is the latest valuation of SpaceX?",
                    "minLength": 1
                  },
                  "stream": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, the response is returned as a server-sent events (SSS) stream."
                  },
                  "text": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, the response includes full text content in the search results"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AnswerResponse"
          }
        },
        "x-moar-original-servers": [
          {
            "url": "https://api.exa.ai"
          }
        ],
        "x-moar-primitive-count": 3,
        "x-moar-complexity-skipped": false
      }
    },
    "/research/v1": {
      "get": {
        "description": "Get a paginated list of research requests",
        "operationId": "ResearchController_listResearch",
        "parameters": [
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "The cursor to paginate through the results",
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "The number of results to return",
            "schema": {
              "minimum": 1,
              "maximum": 50,
              "default": 10,
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of research requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object"
                  ],
                  "properties": {
                    "data": {
                      "type": [
                        "array"
                      ],
                      "items": {
                        "discriminator": {
                          "propertyName": "status"
                        },
                        "oneOf": [
                          {
                            "type": [
                              "object"
                            ],
                            "properties": {
                              "researchId": {
                                "type": [
                                  "string"
                                ],
                                "description": "The unique identifier for the research request"
                              },
                              "createdAt": {
                                "type": [
                                  "number"
                                ],
                                "description": "Milliseconds since epoch time"
                              },
                              "model": {
                                "default": "exa-research",
                                "type": [
                                  "string"
                                ],
                                "enum": [
                                  "exa-research",
                                  "exa-research-pro"
                                ],
                                "description": "The model used for the research request"
                              },
                              "instructions": {
                                "type": [
                                  "string"
                                ],
                                "description": "The instructions given to this research request"
                              },
                              "status": {
                                "type": [
                                  "string"
                                ],
                                "enum": [
                                  "pending"
                                ]
                              }
                            },
                            "required": [
                              "researchId",
                              "createdAt",
                              "instructions",
                              "status"
                            ]
                          },
                          {
                            "type": [
                              "object"
                            ],
                            "properties": {
                              "researchId": {
                                "type": [
                                  "string"
                                ],
                                "description": "The unique identifier for the research request"
                              },
                              "createdAt": {
                                "type": [
                                  "number"
                                ],
                                "description": "Milliseconds since epoch time"
                              },
                              "model": {
                                "default": "exa-research",
                                "type": [
                                  "string"
                                ],
                                "enum": [
                                  "exa-research",
                                  "exa-research-pro"
                                ],
                                "description": "The model used for the research request"
                              },
                              "instructions": {
                                "type": [
                                  "string"
                                ],
                                "description": "The instructions given to this research request"
                              },
                              "status": {
                                "type": [
                                  "string"
                                ],
                                "enum": [
                                  "running"
                                ]
                              },
                              "events": {
                                "type": [
                                  "array"
                                ],
                                "items": {
                                  "oneOf": [
                                    {
                                      "discriminator": {
                                        "propertyName": "eventType"
                                      },
                                      "oneOf": [
                                        {
                                          "type": [
                                            "object"
                                          ],
                                          "properties": {
                                            "eventType": {
                                              "type": [
                                                "string"
                                              ],
                                              "enum": [
                                                "research-definition"
                                              ]
                                            },
                                            "instructions": {
                                              "type": [
                                                "string"
                                              ]
                                            },
                                            "outputSchema": {
                                              "type": [
                                                "object"
                                              ],
                                              "additionalProperties": {}
                                            },
                                            "createdAt": {
                                              "type": [
                                                "number"
                                              ],
                                              "description": "Milliseconds since epoch time"
                                            },
                                            "researchId": {
                                              "type": [
                                                "string"
                                              ]
                                            }
                                          },
                                          "required": [
                                            "eventType",
                                            "instructions",
                                            "createdAt",
                                            "researchId"
                                          ]
                                        },
                                        {
                                          "type": [
                                            "object"
                                          ],
                                          "properties": {
                                            "eventType": {
                                              "type": [
                                                "string"
                                              ],
                                              "enum": [
                                                "research-output"
                                              ]
                                            },
                                            "output": {
                                              "discriminator": {
                                                "propertyName": "outputType"
                                              },
                                              "oneOf": [
                                                {
                                                  "type": [
                                                    "object"
                                                  ],
                                                  "properties": {
                                                    "outputType": {
                                                      "type": [
                                                        "string"
                                                      ],
                                                      "enum": [
                                                        "completed"
                                                      ]
                                                    },
                                                    "costDollars": {
                                                      "type": [
                                                        "object"
                                                      ],
                                                      "properties": {
                                                        "total": {
                                                          "type": [
                                                            "number"
                                                          ]
                                                        },
                                                        "numSearches": {
                                                          "type": [
                                                            "number"
                                                          ]
                                                        },
                                                        "numPages": {
                                                          "type": [
                                                            "number"
                                                          ]
                                                        },
                                                        "reasoningTokens": {
                                                          "type": [
                                                            "number"
                                                          ]
                                                        }
                                                      },
                                                      "required": [
                                                        "total",
                                                        "numSearches",
                                                        "numPages",
                                                        "reasoningTokens"
                                                      ]
                                                    },
                                                    "content": {
                                                      "type": [
                                                        "string"
                                                      ]
                                                    },
                                                    "parsed": {
                                                      "type": [
                                                        "object"
                                                      ],
                                                      "additionalProperties": {}
                                                    }
                                                  },
                                                  "required": [
                                                    "outputType",
                                                    "costDollars",
                                                    "content"
                                                  ]
                                                },
                                                {
                                                  "type": [
                                                    "object"
                                                  ],
                                                  "properties": {
                                                    "outputType": {
                                                      "type": [
                                                        "string"
                                                      ],
                                                      "enum": [
                                                        "failed"
                                                      ]
                                                    },
                                                    "error": {
                                                      "type": [
                                                        "string"
                                                      ]
                                                    }
                                                  },
                                                  "required": [
                                                    "outputType",
                                                    "error"
                                                  ]
                                                }
                                              ]
                                            },
                                            "createdAt": {
                                              "type": [
                                                "number"
                                              ],
                                              "description": "Milliseconds since epoch time"
                                            },
                                            "researchId": {
                                              "type": [
                                                "string"
                                              ]
                                            }
                                          },
                                          "required": [
                                            "eventType",
                                            "output",
                                            "createdAt",
                                            "researchId"
                                          ]
                                        }
                                      ]
                                    },
                                    {
                                      "discriminator": {
                                        "propertyName": "eventType"
                                      },
                                      "oneOf": [
                                        {
                                          "type": [
                                            "object"
                                          ],
                                          "properties": {
                                            "eventType": {
                                              "type": [
                                                "string"
                                              ],
                                              "enum": [
                                                "plan-definition"
                                              ]
                                            },
                                            "planId": {
                                              "type": [
                                                "string"
                                              ]
                                            },
                                            "createdAt": {
                                              "type": [
                                                "number"
                                              ],
                                              "description": "Milliseconds since epoch time"
                                            },
                                            "researchId": {
                                              "type": [
                                                "string"
                                              ]
                                            }
                                          },
                                          "required": [
                                            "eventType",
                                            "planId",
                                            "createdAt",
                                            "researchId"
                                          ]
                                        },
                                        {
                                          "type": [
                                            "object"
                                          ],
                                          "properties": {
                                            "eventType": {
                                              "type": [
                                                "string"
                                              ],
                                              "enum": [
                                                "plan-operation"
                                              ]
                                            },
                                            "planId": {
                                              "type": [
                                                "string"
                                              ]
                                            },
                                            "operationId": {
                                              "type": [
                                                "string"
                                              ]
                                            },
                                            "data": {
                                              "discriminator": {
                                                "propertyName": "type"
                                              },
                                              "oneOf": [
                                                {
                                                  "type": [
                                                    "object"
                                                  ],
                                                  "properties": {
                                                    "type": {
                                                      "type": [
                                                        "string"
                                                      ],
                                                      "enum": [
                                                        "think"
                                                      ]
                                                    },
                                                    "content": {
                                                      "type": [
                                                        "string"
                                                      ]
                                                    }
                                                  },
                                                  "required": [
                                                    "type",
                                                    "content"
                                                  ]
                                                },
                                                {
                                                  "type": [
                                                    "object"
                                                  ],
                                                  "properties": {
                                                    "type": {
                                                      "type": [
                                                        "string"
                                                      ],
                                                      "enum": [
                                                        "search"
                                                      ]
                                                    },
                                                    "searchType": {
                                                      "type": [
                                                        "string"
                                                      ],
                                                      "enum": [
                                                        "neural",
                                                        "keyword",
                                                        "auto",
                                                        "fast"
                                                      ]
                                                    },
                                                    "goal": {
                                                      "type": [
                                                        "string"
                                                      ]
                                                    },
                                                    "query": {
                                                      "type": [
                                                        "string"
                                                      ]
                                                    },
                                                    "results": {
                                                      "type": [
                                                        "array"
                                                      ],
                                                      "items": {
                                                        "type": [
                                                          "object"
                                                        ],
                                                        "properties": {
                                                          "url": {
                                                            "type": [
                                                              "string"
                                                            ]
                                                          }
                                                        },
                                                        "required": [
                                                          "url"
                                                        ]
                                                      }
                                                    },
                                                    "pageTokens": {
                                                      "type": [
                                                        "number"
                                                      ]
                                                    }
                                                  },
                                                  "required": [
                                                    "type",
                                                    "searchType",
                                                    "query",
                                                    "results",
                                                    "pageTokens"
                                                  ]
                                                },
                                                {
                                                  "type": [
                                                    "object"
                                                  ],
                                                  "properties": {
                                                    "type": {
                                                      "type": [
                                                        "string"
                                                      ],
                                                      "enum": [
                                                        "crawl"
                                                      ]
                                                    },
                                                    "goal": {
                                                      "type": [
                                                        "string"
                                                      ]
                                                    },
                                                    "result": {
                                                      "type": [
                                                        "object"
                                                      ],
                                                      "properties": {
                                                        "url": {
                                                          "type": [
                                                            "string"
                                                          ]
                                                        }
                                                      },
                                                      "required": [
                                                        "url"
                                                      ]
                                                    },
                                                    "pageTokens": {
                                                      "type": [
                                                        "number"
                                                      ]
                                                    }
                                                  },
                                                  "required": [
                                                    "type",
                                                    "result",
                                                    "pageTokens"
                                                  ]
                                                }
                                              ]
                                            },
                                            "createdAt": {
                                              "type": [
                                                "number"
                                              ],
                                              "description": "Milliseconds since epoch time"
                                            },
                                            "researchId": {
                                              "type": [
                                                "string"
                                              ]
                                            }
                                          },
                                          "required": [
                                            "eventType",
                                            "planId",
                                            "operationId",
                                            "data",
                                            "createdAt",
                                            "researchId"
                                          ]
                                        },
                                        {
                                          "type": [
                                            "object"
                                          ],
                                          "properties": {
                                            "eventType": {
                                              "type": [
                                                "string"
                                              ],
                                              "enum": [
                                                "plan-output"
                                              ]
                                            },
                                            "planId": {
                                              "type": [
                                                "string"
                                              ]
                                            },
                                            "output": {
                                              "discriminator": {
                                                "propertyName": "outputType"
                                              },
                                              "oneOf": [
                                                {
                                                  "type": [
                                                    "object"
                                                  ],
                                                  "properties": {
                                                    "outputType": {
                                                      "type": [
                                                        "string"
                                                      ],
                                                      "enum": [
                                                        "tasks"
                                                      ]
                                                    },
                                                    "reasoning": {
                                                      "type": [
                                                        "string"
                                                      ]
                                                    },
                                                    "tasksInstructions": {
                                                      "type": [
                                                        "array"
                                                      ],
                                                      "items": {
                                                        "type": [
                                                          "string"
                                                        ]
                                                      }
                                                    }
                                                  },
                                                  "required": [
                                                    "outputType",
                                                    "reasoning",
                                                    "tasksInstructions"
                                                  ]
                                                },
                                                {
                                                  "type": [
                                                    "object"
                                                  ],
                                                  "properties": {
                                                    "outputType": {
                                                      "type": [
                                                        "string"
                                                      ],
                                                      "enum": [
                                                        "stop"
                                                      ]
                                                    },
                                                    "reasoning": {
                                                      "type": [
                                                        "string"
                                                      ]
                                                    }
                                                  },
                                                  "required": [
                                                    "outputType",
                                                    "reasoning"
                                                  ]
                                                }
                                              ]
                                            },
                                            "createdAt": {
                                              "type": [
                                                "number"
                                              ],
                                              "description": "Milliseconds since epoch time"
                                            },
                                            "researchId": {
                                              "type": [
                                                "string"
                                              ]
                                            }
                                          },
                                          "required": [
                                            "eventType",
                                            "planId",
                                            "output",
                                            "createdAt",
                                            "researchId"
                                          ]
                                        }
                                      ]
                                    },
                                    {
                                      "discriminator": {
                                        "propertyName": "eventType"
                                      },
                                      "oneOf": [
                                        {
                                          "type": [
                                            "object"
                                          ],
                                          "properties": {
                                            "eventType": {
                                              "type": [
                                                "string"
                                              ],
                                              "enum": [
                                                "task-definition"
                                              ]
                                            },
                                            "planId": {
                                              "type": [
                                                "string"
                                              ]
                                            },
                                            "taskId": {
                                              "type": [
                                                "string"
                                              ]
                                            },
                                            "instructions": {
                                              "type": [
                                                "string"
                                              ]
                                            },
                                            "createdAt": {
                                              "type": [
                                                "number"
                                              ],
                                              "description": "Milliseconds since epoch time"
                                            },
                                            "researchId": {
                                              "type": [
                                                "string"
                                              ]
                                            }
                                          },
                                          "required": [
                                            "eventType",
                                            "planId",
                                            "taskId",
                                            "instructions",
                                            "createdAt",
                                            "researchId"
                                          ]
                                        },
                                        {
                                          "type": [
                                            "object"
                                          ],
                                          "properties": {
                                            "eventType": {
                                              "type": [
                                                "string"
                                              ],
                                              "enum": [
                                                "task-operation"
                                              ]
                                            },
                                            "planId": {
                                              "type": [
                                                "string"
                                              ]
                                            },
                                            "taskId": {
                                              "type": [
                                                "string"
                                              ]
                                            },
                                            "operationId": {
                                              "type": [
                                                "string"
                                              ]
                                            },
                                            "data": {
                                              "discriminator": {
                                                "propertyName": "type"
                                              },
                                              "oneOf": [
                                                {
                                                  "type": [
                                                    "object"
                                                  ],
                                                  "properties": {
                                                    "type": {
                                                      "type": [
                                                        "string"
                                                      ],
                                                      "enum": [
                                                        "think"
                                                      ]
                                                    },
                                                    "content": {
                                                      "type": [
                                                        "string"
                                                      ]
                                                    }
                                                  },
                                                  "required": [
                                                    "type",
                                                    "content"
                                                  ]
                                                },
                                                {
                                                  "type": [
                                                    "object"
                                                  ],
                                                  "properties": {
                                                    "type": {
                                                      "type": [
                                                        "string"
                                                      ],
                                                      "enum": [
                                                        "search"
                                                      ]
                                                    },
                                                    "searchType": {
                                                      "type": [
                                                        "string"
                                                      ],
                                                      "enum": [
                                                        "neural",
                                                        "keyword",
                                                        "auto",
                                                        "fast"
                                                      ]
                                                    },
                                                    "goal": {
                                                      "type": [
                                                        "string"
                                                      ]
                                                    },
                                                    "query": {
                                                      "type": [
                                                        "string"
                                                      ]
                                                    },
                                                    "results": {
                                                      "type": [
                                                        "array"
                                                      ],
                                                      "items": {
                                                        "type": [
                                                          "object"
                                                        ],
[...]
